/* Reset és alapok */
html, body {
    height: 100%;
    margin: 0;
    background-color: black;
    color: white;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Header és navigáció */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    padding: 15px 30px;
    border-bottom: 2px solid #006400;
}

.logo img {
    height: 50px;
    width: auto;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 25px;
    margin: 0;
    padding: 0;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

nav a:hover {
    color: #006400;
}

/* Main tartalom kitöltése */
main {
    flex: 1;
}

.center-content {
    text-align: center;
    max-width: 700px;
    margin: 40px auto;
    padding: 0 15px;
}

/* Gomb */
.button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #006400;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    margin-top: 20px;
}

.button:hover {
    background-color: #333633;
    color: #0dbd0d;
}

.amoba_button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #006400;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    margin-top: 20px;
}

.amoba_button:hover {
    background-color: #333633;
    color: #0dbd0d;
}

.kreta_button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #034a66;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    margin-top: 20px;
    margin-left: 20px;
}

.kreta_button:hover {
    background-color: #002064;
    color: white;
}

.törtenelem_button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #006400;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    margin-top: 20px;
    margin-left: 20px;
}

.törtenelem_button:hover {
    background-color: #333633;
    color: #0dbd0d;
}


/* Footer */
footer {
    background-color: black;
    text-align: center;
    padding: 15px 0;
    font-size: 14px;
    border-top: 1px solid #006400;
    color: white;
}
